.container.news-container {
  background: url(../media/template/BG_Partnership_nologo_news.svg) no-repeat center center / cover;
}

#sezione-testo-template.news {
  width: 80%;
}

#post-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin-top: 100px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fffffffb;
  border-radius: 20px;
}

.card-img {
  width: 100%;
  height: 460px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media (max-width: 1800px) {
  .card-img {
    height: 400px;
  }
}

@media (max-width: 1600px) {
  .card-img {
    height: 340px;
  }
}

@media (max-width: 1400px) {
  .card-img {
    height: 580px;
  }
  #post-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1400px) {
  .card-img {
    height: 540px;
  }
}

@media (max-width: 992px) {
  .card-img {
    height: 460px;
  }
}

@media (max-width: 875px) {
  .card-img {
    height: 400px;
  }
}

@media (max-width: 772px) {
  .card-img {
    height: 400px;
  }
}

@media (max-width: 699px) {
  .card-img {
    height: 360px;
  }
}

@media (max-width: 665px) {
  .card-img {
    height: 330px;
  }
}

@media (max-width: 600px) {
  .card-img {
    height: 300px;
  }
  #sezione-testo-template.news {
    width: 90%;
  }
}

@media (max-width: 530px) {
  .card-img {
    height: 270px;
  }
  #sezione-testo-template.news {
    width: 95%;
  }
  .card-text-container {
    font-size: 12px;
  }
}

@media (max-width: 420px) {
  .card-img {
    height: 240px;
  }
  #sezione-testo-template.news {
    width: 95%;
  }
  .card-text-container {
    font-size: 12px;
  }
  #post-container {
    gap: 40px;
  }
}

@media (max-width: 396px) {
  .card-img {
    height: 220px;
  }
}

@media (max-width: 384px) {
  .card-img {
    height: 220px;
  }
  .card-text-container {
    font-size: 10px;
  }

  #sezione-testo-template.news {
    width: 98%;
  }
}

@media (max-width: 355px) {
  .card-img {
    height: 200px;
  }
}

.card-text-container {
  height: 100%;
  font-family: "Gotham_Book";
  color: var(--loghi);
  padding: 20px;
}
