.card-rotate {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
}
.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 34rem;
}
.card__side {
  height: 34rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: white;
}
.card__side--front {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, rgba(43, 134, 238, 0.85), rgba(32, 53, 119, 0.85));
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--back {
  transform: rotateY(-180deg);
}
.card:hover .card__side--front {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, rgba(43, 134, 238, 0.85), rgba(32, 53, 119, 0.85)), url(../media/icone/Clienti_icon.svg);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 85%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  line-height: 70px;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(43, 134, 238, 0.85), rgba(32, 53, 119, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__title-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}
.card__title {
  text-transform: uppercase;
  color: var(--loghi);
  font-family: "Gotham_Light";
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 5px;
  margin-top: 30px;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

/* CLIENTI */
.card-clienti-content {
  height: 100%;
  width: 100%;
  padding: 15px;
  color: var(--loghi);
  font-family: "Gotham_Book";
}

.card__picture-clienti {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 10rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card__side--back-clienti-1 {
  background: #fff;
}

.card__picture-clienti-1 {
  background-image: url(../media/clienti/afi-pres.jpg);
  background-size: cover;
}

.card__title-img {
  width: 150px;
  border-radius: 50%;
}

@media (min-width: 1900px) {
  .card {
    height: 44rem;
  }
  .card__side {
    height: 44rem;
  }
}

@media (max-width: 1200px) {
  .card-rotate {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 992px) {
  .card-rotate {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .card-rotate {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 442px) {
  #sezione-testo-template.full {
    width: 90%;
  }
}
