.card-rotate {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
}

.card-rotate2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 34rem;
}
.card__side {
  height: 34rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  background: #fff;
}
.card__side--front {
  transform: rotateY(180deg);
}

/* FRONT ABOUT */
.card__side--front-1 {
  background-image: url(../media/about/Palette\ su\ di\ noi_vuote2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.card__side--front-2 {
  background-image: url(../media/about/Palette\ su\ di\ noi_vuote4.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.card__side--front-3 {
  background-image: url(../media/about/Palette\ su\ di\ noi_vuote6.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.card__side--front-4 {
  background-image: url(../media/about/Palette\ su\ di\ noi_vuote8.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.card__side--front-5 {
  background-image: url(../media/about/Palette\ su\ di\ noi_vuote10.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.card__side--front-6 {
  background-image: url(../media/about/Palette\ su\ di\ noi_vuote12.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* BACK ABOUT */
.card__side--back-1 {
  background-image: url(../media/about/Palette\ su\ di\ noi_vuote.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.card__side--back-2 {
  background-image: url(../media/about/Palette\ su\ di\ noi_vuote3.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.card__side--back-3 {
  background-image: url(../media/about/Palette\ su\ di\ noi_vuote5.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.card__side--back-4 {
  background-image: url(../media/about/Palette\ su\ di\ noi_vuote7.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.card__side--back-5 {
  background-image: url(../media/about/Palette\ su\ di\ noi_vuote9.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.card__side--back-6 {
  background-image: url(../media/about/Palette\ su\ di\ noi_vuote11.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.card:hover .card__side--back {
  transform: rotateY(-180deg);
}
.card:hover .card__side--front {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 10rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 85%;
}
.card__heading-2 {
  font-size: 2.6rem;
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  margin-bottom: 45px;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  line-height: 1.5rem;
}

.card__details {
  font-family: "Gotham_Book";
  height: 70%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  line-height: 1.6rem;
  letter-spacing: 3px;

  color: var(--loghi);
}

.card__details__about {
  font-family: "Gotham_Book";
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  line-height: 1.6rem;
  letter-spacing: 3px;
  color: #fff;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  color: var(--loghi);
  font-family: "Gotham_Book";
  text-align: left;
  font-size: 1rem;
  padding: 1rem;
}
.card__details ul li:not(last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__title-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}
.card__title {
  text-transform: uppercase;
  color: var(--loghi);
  font-family: "Gotham_Light";
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 5px;
  margin-top: 30px;
}

/* CLIENTI */
.card-clienti-content {
  height: 100%;
  width: 100%;
  padding: 15px;
  color: var(--loghi);
  font-family: "Gotham_Book";
}

.card__picture-clienti {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 10rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card__side--back-clienti-1 {
  background: #fff;
}

.card__picture-clienti-1 {
  background-image: url(../media/clienti/afi-pres.jpg);
  background-size: cover;
}

.card__title-img {
  width: 150px;
  border-radius: 50%;
}

@media (min-width: 1900px) {
  .card {
    height: 44rem;
  }
  .card__side {
    height: 44rem;
  }
  .card__details {
    padding: 0px;
    line-height: 2rem;
    font-size: 1.4rem;
  }

  .card__details__about {
    padding: 0px;
    line-height: 2rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 1200px) {
  .card-rotate,
  .card-rotate2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 992px) {
  .card-rotate {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .card-rotate,
  .card-rotate2 {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .card,
  .card__side {
    height: 30rem;
  }
}

@media (max-width: 442px) {
  #sezione-testo-template.full {
    width: 90%;
  }
  .card__details,
  .card__details__about {
    font-family: "Gotham_Book";
    height: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    line-height: 1.2rem;
    letter-spacing: 2px;
    color: var(--loghi);
  }
}
