.container {
  background-image: url(../media/template/BG_Partnership_nologo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.container.about {
  background: none;
}

.hero.hero-t {
  background: none;
  min-height: 500px;
}

.electron.electron-t {
  background: radial-gradient(closest-side, #ffffff, transparent);
}

.hero-logo.hero-logo-t {
  position: absolute;
  top: 27%;
  left: 43%;
  width: 14%;
  transform: scale(0);
  opacity: 0;
  margin-bottom: 140px;
  animation: scale 3s linear forwards;
}

.hero-logo-t.wb-t {
  top: 34%;
  left: 43%;
  width: 20%;
}

.hero-logo-t.grm-t {
  top: 35%;
  left: 40%;
  width: 17%;
}

.hero-logo-t.news-t {
  top: 30%;
  left: 45%;
  width: 9%;
}

.hero-logo-t.clienti-t {
  top: 30%;
  left: 45%;
  width: 9%;
}

#logo-sezione-template {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  position: relative;
}

.logo-sezione {
  width: 300px;
  margin-bottom: 80px;
}

.img-laterale-sezione {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
}

#sezione-testo-template {
  width: 50%;
  margin: 0 auto;
}

#sezione-testo-template.full {
  width: 80%;
  margin: 0 auto;
}
.paragrafo-img-titolo {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
}

.paragrafo-img-titolo.wb {
  display: grid;
  grid-template-columns: 50% 40%;
  align-items: center;
}

.paragrafo-img-titolo {
  margin-left: -200px;
}

.img-small {
  width: 100%;
}

.titolo-sezione-big {
  color: var(--main-lightblue);
  font-size: 70px;
  text-transform: uppercase;
  text-align: right;
  line-height: 95%;
}

.titolo-sezione-medium {
  color: var(--main-lightblue);
  font-size: 60px;
  text-transform: uppercase;
  text-align: right;
  line-height: 80%;
}

.titolo-sezione {
  color: var(--main-lightblue);
  font-size: 35px;
  margin-bottom: 35px;
  margin-top: 100px;
  text-transform: uppercase;
}

.titolo-sezione.right {
  text-align: right;
}

.sottotitolo-sezione {
  font-size: 30px;
  color: var(--loghi);
}

#sezione-testo-template-svg {
  width: 70%;
  margin: 0 auto;
}

.paragrafo-img-titolo-svg {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: flex-start;
  margin-left: -200px;
  gap: 40px;
}

.paragrafo-img-right-svg {
  display: grid;
  margin-right: -20%;
  grid-template-columns: 70% 30%;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.paragrafo-img-left-svg {
  display: grid;
  margin-left: -20%;
  grid-template-columns: 30% 70%;
  justify-content: center;
  align-items: center;
  margin-top: -15%;
  gap: 40px;
}

.paragrafo-img-right {
  display: grid;
  margin-right: -20%;
  grid-template-columns: 40% 60%;
  justify-content: center;
  align-items: center;
}

.paragrafo-img-left {
  display: grid;
  margin-left: -20%;
  grid-template-columns: 60% 40%;
  justify-content: center;
  align-items: center;
  margin-top: -15%;
}

.paragrafo-img-center {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.paragrafo-titolo {
  color: var(--main-lightblue);
  font-size: 40px;
  margin-bottom: 35px;
  margin-top: 100px;
  text-transform: uppercase;
  text-align: right;
}
.paragrafo-titolo.left {
  text-align: left;
}

.paragrafo-titolo-svg {
  color: var(--main-lightblue);
  font-size: 40px;
  margin-bottom: 65px;
  margin-top: 100px;
  text-transform: uppercase;
  text-align: right;
}

.paragrafo-titolo-blu {
  color: var(--loghi);
  font-size: 40px;
  margin-bottom: 35px;
  margin-top: 100px;
  text-transform: uppercase;
  text-align: left;
  width: 70%;
}

.paragrafo-titolo-blu-svg {
  color: var(--loghi);
  font-size: 40px;
  margin-bottom: 35px;
  margin-top: 100px;
  text-transform: uppercase;
  text-align: left;
  width: 70%;
}

.svg-4 {
  margin: 0 auto;
  width: 60%;
}

.svg-4.img-small {
  width: 35%;
}

.paragrafo-sezione {
  font-family: Gotham_Book;
  color: var(--main-blue);
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 35px;
}

.paragrafo-2-svg .paragrafo-sezione {
  text-align: right;
}

.paragrafo-2-svg .paragrafo-sezione.left {
  text-align: left;
}

.paragrafo-ul {
  font-family: Gotham_Light;
  color: var(--main-blue);
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 35px;
  margin-left: 15px;
  padding: 5px;
}

.paragrafo-sezione strong {
  font-family: Gotham_Bold;
  color: var(--main-blue);
}

.btn-wrapper.btn-template {
  margin: 0 auto;
  margin-top: 110px;
}

.link-sito,
.link-sito a {
  font-family: Gotham_Medium;
  text-align: center;
  font-size: 14px;
  letter-spacing: 5px;
  color: var(--main-blue);
  margin-top: 40px;
  margin-bottom: 200px;
}

.link-sito:hover a {
  color: #ffffff;
}

.link-sito.link-sito-nascosto {
  margin-bottom: 100px;
}

.scheda-3.t {
  margin-top: 0;
}

.hero-logo-t.zoho-t {
  top: 23%;
  left: 44%;
  width: 10%;
}

.download-wrapper {
  display: flex;
  align-items: start;
}

.mb-5 {
  margin-bottom: 150px;
}
