.container {
  background: url(../media/template/BG_Partnership_nologo.svg) no-repeat center center / cover;
}

.hero.hero-t {
  background: none;
  min-height: 500px;
}

.electron.electron-t {
  background: radial-gradient(closest-side, #ffffff, transparent);
}

.hero-logo.hero-logo-t {
  position: absolute;
  top: 27%;
  left: 43%;
  width: 12%;
  transform: scale(0);
  opacity: 0;
  margin-bottom: 140px;
  animation: scale 5s linear 1s forwards;
}

#logo-sezione-template {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  position: relative;
}

.logo-sezione {
  width: 300px;
  margin-bottom: 80px;
}

.img-laterale-sezione {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
}

#sezione-testo-template {
  width: 50%;
  margin: 0 auto;
}

.titolo-sezione {
  color: var(--main-lightblue);
  font-size: 40px;
  margin-bottom: 35px;
  margin-top: 100px;
}

.sottotitolo-sezione {
  font-size: 30px;
  color: var(--loghi);
}

.paragrafo-sezione {
  font-family: Gotham_Book;
  color: var(--main-blue);
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 35px;
}

.paragrafo-sezione strong {
  font-family: Gotham_Bold;
  color: var(--main-blue);
}

.btn-wrapper.btn-template {
  margin: 0 auto;
  margin-top: 110px;
}

.link-sito {
  font-family: Gotham_Medium;
  text-align: center;
  font-size: 14px;
  letter-spacing: 5px;
  color: var(--main-blue);
  margin-top: 40px;
  margin-bottom: 200px;
}

.scheda-3.t {
  margin-top: 0;
}

/* Accordion */
