/* BIG SCREEN */
@media (min-width: 1900px) {
  /* Hero */
  .navbar-hidden {
    height: 200px;
  }
  .hero-brain {
    height: 1000px;
  }
  .hero-testo {
    height: 450px;
  }
  /* About */
  .about-testo {
    height: 760px;
    width: 90%;
  }
  .btn-wrapper {
    width: 300px;
  }
  /* Schede */
  .scheda-1 {
    height: 2200px;
    width: 100%;
    margin-top: 190px;
  }
  .scheda-2 {
    width: 110%;
    height: 1600px;
    margin-top: -1710px;
    margin-left: -96px;
  }
  .scheda-3 {
    width: 100%;
    margin-left: 0;
    margin-top: -1170px;
    height: 1200px;
  }

  /* Footer */

  .sfondo-footer {
    width: 115%;
    margin-top: -500px;
    margin-left: -207px;
  }
  .icon-wrapper {
    width: 80%;
    left: 400px;
    top: 52px;
  }
  .footer-grid {
    width: 70%;
  }
}

/* GIANT SCREEN */
@media (min-width: 2500px) {
  .scheda-1 {
    height: 2200px;
    width: 94%;
    margin-left: 0;
  }
  .scheda-2 {
    width: 96%;
    height: 1700px;
    margin-top: -1610px;
    margin-left: 16px;
  }
  .scheda-3 {
    width: 100%;
    margin-left: 0;
    margin-top: -1070px;
    height: 1200px;
  }

  /* Footer */

  .sfondo-footer {
    width: 135%;
    margin-top: -500px;
    margin-left: -347px;
  }
  .footer-grid {
    width: 50%;
    margin-top: 222px;
    height: 300px;
  }
  .sfondo-footer {
    background: url(./media/sfondi/sfondo-footer_new2.svg) no-repeat top center / cover;
    width: 100%;
    margin-left: 0;
  }
}

/* __________________LAPTOP__________________ */
@media (max-width: 1356px) {
  /* Hero */
  .hero-testo {
    height: 250px;
  }
  /* About */
  .about-testo {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .btn-about {
    right: unset;
    bottom: -100px;
    width: 270px;
  }
  /* Schede */
  .scheda-1 {
    margin-left: -21px;
  }
  .scheda-2 {
    margin-left: -210px;
  }
  .scheda-3 {
    width: 150%;
    margin-left: -550px;
  }
  .cloud-grid {
    gap: 60px;
    margin-left: 10%;
    margin-top: 15%;
  }
  .partner-grid {
    gap: 140px;
    top: 10%;
    left: 10%;
  }
  .referenze-grid {
    margin-top: -50px;
  }
  #news {
    top: -20%;
  }

  #clienti {
    position: absolute;
    top: 10%;
    left: 25%;
  }

  #jobs {
    left: 50%;
    bottom: 33%;
  }
  /* Footer */
  .icon-wrapper {
    top: -10px;
  }
}

/* __________________TABLET__________________ */
@media (max-width: 992px) {
  /* Hero */
  .hero {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .hero-testo {
    height: 200px;
  }

  /* About */
  .about-testo {
    width: 95%;
  }
  .btn-about {
    bottom: -70px;
  }
  /* Schede */
  .cloud-grid {
    grid-template-columns: repeat(1, 350px);
    gap: 60px;
    margin-left: -15%;
    margin-top: 24%;
  }

  .scheda-1 {
    width: 120%;
    background: url(./media/sfondi/scheda_Cloud.svg) no-repeat top center / contain;
    margin-left: -100px;
    margin-top: 150px;
  }
  .scheda-2 {
    width: 125%;
    background: url(./media/sfondi/scheda_Partners.svg) no-repeat top center / contain;
    margin-top: -910px;
    margin-left: -150px;
  }

  .scheda-3 {
    width: 140%;
    height: 1400px;
    background: url(./media/sfondi/scheda_Referenze.svg) no-repeat top center / contain;
    margin-top: -950px;
    margin-left: -145px;
  }

  #grm {
    width: 100%;
    margin-left: 80px;
  }

  .grm-testo {
    bottom: -70px;
  }

  #grm img {
    width: 250px;
  }

  .partner-grid {
    gap: 0;
    left: 5%;
    top: 12%;
    align-items: flex-start;
  }

  #a365 {
    margin-top: 150px;
  }

  #zohodesk {
    margin-top: 100px;
  }

  .referenze-grid {
    width: 90%;
  }

  #clienti {
    left: 22%;
    top: -8%;
  }

  #news {
    right: 20%;
    bottom: 28%;
  }

  #jobs {
    left: 8%;
    bottom: 44%;
  }
  /* Footer */
  .sfondo-footer {
    width: 110%;
    margin-top: -560px;
  }

  .icon-wrapper {
    top: -30px;
    left: -100px;
  }

  .circle {
    width: 80px;
    height: 80px;
    margin: 15px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    justify-items: flex-start;
    padding-left: 100px;
    margin-top: 100px;
    height: 600px;
  }

  .footer-privacy {
    margin-right: 50px;
  }
  /* Privacy */
  .modal-content {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal-header {
    z-index: 9999;
  }

  #mdlContentBody {
    margin-top: 100px;
    height: 100%;
    align-items: flex-start;
    position: relative;
  }

  #myModal a {
    color: var(--main-lightblue);
  }

  h5 strong,
  h4 strong {
    color: var(--cyan);
  }
  .col-md-6 > h3 {
    color: var(--cyan);
  }

  .col-md-6.text-center:first-child {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  .col-md-6.text-center:nth-child(2) {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }

  .col-md-4.text-center {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 5px;
  }
}

@media (max-width: 768px) {
  /* Hero */
  .hero-testo {
    height: 150px;
  }
  /* About */
  .about-testo {
    width: 80%;
    height: 700px;
    margin-top: 30px;
    margin-bottom: 100px;
    background: url(./media/hero/testomobile.svg) no-repeat center center / contain;
  }
  .btn-about {
    bottom: -90px;
  }

  /* Schede */
  .scheda-1 {
    width: 140%;
    margin-left: -100px;
  }
  .scheda-2 {
    width: 145%;
    margin-left: -150px;
  }

  .scheda-3 {
    width: 174%;
    margin-left: -150px;
  }

  #a365 {
    margin-left: 20px;
  }

  #zohodesk {
    margin-left: -10px;
  }

  .referenze-grid {
    width: 100%;
    margin-top: -105px;
  }

  #news {
    left: 40%;
  }

  #jobs {
    left: 13%;
    bottom: 35%;
  }

  /* Footer */
  .sfondo-footer {
    margin-top: -560px;
    align-items: flex-end;
  }
  .icon-wrapper {
    width: 53%;
    top: 29px;
    left: -20px;
  }
  .circle {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .footer-grid {
    margin-top: 246px;
    padding-left: 50px;
    padding-bottom: 30px;
  }
}

@media (max-width: 583px) {
  /* Hero */
  .navbar-hidden {
    display: none;
  }
  .hero {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-top: 32px;
  }
  .hero-testo {
    height: 100px;
  }
  .hero-brain {
    /* background: url(./media/hero/cervello-small.svg) no-repeat center center / cover; */
    background: url(./media/hero/cervello-animato.svg) no-repeat center center / cover;
    height: 518px;
  }

  .hero-logo {
    width: 70%;
    margin-bottom: 46px;
  }
  /* About */
  .about-testo {
    width: 85%;
    height: 500px;
  }
  /* Schede */
  .scheda-1 {
    width: 165%;
    margin-top: 182px;
  }
  .scheda-2 {
    width: 165%;
    margin-left: -225px;
    margin-top: -980px;
  }

  .scheda-3 {
    width: 174%;
    margin-top: -994px;
    margin-left: -150px;
  }
  .partner-grid {
    top: 10%;
  }
  #a365 {
    margin-left: 60%;
  }

  #zohodesk {
    margin-left: -40px;
    margin-top: 160px;
  }

  .referenze-grid {
    margin-top: -152px;
  }

  #news {
    left: 35%;
    bottom: 33%;
  }

  #jobs {
    left: 12%;
    bottom: 42%;
  }

  /* Footer */

  .sfondo-footer {
    margin-top: -707px;
  }
  .icon-wrapper {
    width: 70%;
    left: -100px;
  }
  .footer-privacy {
    margin-right: 30px;
  }

  .footer-privacy button h6 {
    font-size: 14px;
  }
}

@media (max-width: 442px) {
  /* Hero */
  .hero-brain {
    height: 440px;
  }

  .hero-testo {
    height: 70px;
    width: 120%;
    margin-left: -30px;
  }

  /* Footer */
  .icon-wrapper {
    width: 68%;
    top: -75px;
    left: -80px;
  }
  .circle {
    width: 70px;
    height: 70px;
    margin: 5px;
  }
  /* About */
  .about-testo {
    width: 95%;
  }

  /* Schede */
  .scheda-1 {
    width: 184%;
  }

  .cloud-grid {
    grid-template-columns: repeat(1, 300px);
    gap: 70px;
    margin-left: -18%;
    margin-top: 28%;
  }

  #grm img {
    width: 215px;
  }

  .item-testo h1 {
    font-size: 1em;
  }

  .wb-testo {
    bottom: 14px;
  }

  .grm-testo {
    bottom: -58px;
  }

  .scheda-2 {
    width: 173%;
    margin-top: -1009px;
  }

  #imio img {
    width: 160px;
  }

  #imio {
    margin-left: 50px;
  }

  #a365 {
    margin-left: 144px;
    margin-top: 127px;
  }

  #zohodesk {
    margin-top: 184px;
  }
  #zohodesk img {
    width: 130px;
  }

  #a365 img {
    width: 130px;
  }

  .scheda-3 {
    margin-left: -121px;
    margin-top: -1072px;
    height: 1290px;
  }

  .icon-clienti {
    width: 120px;
  }

  .icon-news {
    width: 125px;
  }

  .job-news {
    width: 180px;
  }

  #news {
    left: 33%;
    bottom: 45%;
  }

  #clienti {
    top: -12%;
    left: 20%;
  }

  #jobs {
    bottom: 50%;
    left: 15%;
  }

  .icon-clienti {
    width: 90px;
  }

  .icon-news {
    width: 95px;
  }

  .job-news {
    width: 145px;
  }

  .icon-button {
    gap: 15px;
  }

  .btn-small {
    height: 50px;
  }

  /* Footer */

  .icon-wrapper {
    top: 20px;
  }

  .footer-grid h4 {
    font-size: 20px;
  }

  .footer-grid p {
    font-size: 16px;
    line-height: 19px;
  }
  .footer-grid {
    margin-top: 240px;
    padding-left: 38px;
    padding-bottom: 40px;
  }
  .footer-privacy {
    font-size: 12px;
    margin-right: 20px;
  }

  .footer-privacy button h6 {
    font-size: 12px;
  }
}

@media (max-width: 370px) {
  /* Schede */
  .scheda-2 {
    width: 195%;
    margin-top: -1028px;
  }
  .scheda-3 {
    width: 205%;
    margin-left: -195px;
  }
  .referenze-grid {
    margin-left: -34px;
  }

  #news {
    left: 45%;
  }

  #clienti {
    left: 33%;
  }

  #jobs {
    left: 30%;
  }

  .circle {
    width: 65px;
    height: 65px;
  }

  .icon-wrapper {
    width: 71%;
    left: -70px;
  }

  .footer-privacy button h6 {
    font-size: 11px;
  }
}
